@media print {
  @page {
    size: 80mm auto;
    margin: 0;
  }

  /* Oculta todo */
  body * {
    visibility: hidden !important;
  }

  /* Muestra solo el ticket */
  .ticket,
  .ticket * {
    visibility: visible !important;
  }

  /* Ticket centrado */
  
  .ticket {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80mm;
    padding: 6mm;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.8;
    background: white;
    color: black;
  }

  .no-print {
    display: none !important;
  }

  hr {
    border: none;
    border-top: 1px dashed #000;
    margin: 6px 0;
  }
  .ticket-logo {
    text-align: center;
    margin-bottom: 4px;
  }

  .ticket-logo img {
    width: 35mm;        /* ideal para 80mm */
    max-width: 100%;
    height: auto;
    display: inline-block;
  }

}
